
@media (max-width: 767px) {
  .display_xs {
    width:100%;height:350px;
  }
}

@media (max-width: 500px) {
  .display_xs {
    width:100%;height:260px;
  }
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 10%;
  height: 20%;
}
.carousel-indicators li{
  width:0.5rem;height:0.5rem;
  background-color:#aaa;
  border-radius:50%;
  margin:0 4px;
  bottom: 30px;

}
.carousel-indicators .active{
  background-color:#000;
}
.carousel-indicators li:hover{
  cursor:pointer;
}

@media (max-width: 743px) {
  .display-xs-none {
    display:none;
  }
}
.my_height_1{
  height:80px;
}
.my_img_size{
  width:486px;height:468px;
  margin:0;padding:0;
}
.my_line{
  max-width: 650px;
  margin: 0 auto 0px;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}
.my_center{
  position:absolute;
  left:50%;
  transform:translateX(-50%);
}
.my_padding{
  padding-top:1%;
  padding-bottom:1%;
}
.my_p_l{
  padding-left:10px;
}
.my_p_r{
  padding-right:10px;
}
@media (max-width: 767px) {
  .my_small_size {
    width:40%;
  }
  .my_small_position{
    position:absolute;
    top: 45%;
    transform: translateY(-50%);
    right:0;
    width:60%;
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;
  }
  .my_small_p_none{
    padding:0;
  }
}

@media (min-width: 768px) {
  .my_big_size {
    width: 100%;
  }
}
.my_font_display{
  height:30%;
  line-height: 20px;
  overflow:hidden;
  display:-webkit-box;   /*将对象作为弹性伸缩盒子模型显示;*/
  text-overflow:ellipsis;  /*溢出部分用省略号代替*/
  -webkit-line-clamp:2;   /*设置文本显示两行*/
  -webkit-box-orient:vertical;  /*从上到下排列子元素*/
  white-space:normal;
}
.my_mb{
  margin-bottom:10%;
}
.my_mt{
  margin-top:10%;
}
@media (max-width: 767px) {
  .display_my_none {
    display:none;
  }
}

@media (max-width: 767px) {
  .display_xs_img {
    width:100%;height:336px;
  }
}

@media (max-width: 500px) {
  .display_xs_img {
    width:100%;height:260px;
  }
}

@media (max-width: 767px) {
  .my_xxs_size {
    width: 50%;
  }
}
.my_p{
  padding:15% 5%
}
.mb_1{
  margin-bottom:20%;
}
@media (max-width: 767px) {
.my_xxs_position2{
  position:absolute;
  transform: translateY(-50%);
  right:10%;
  width:50%;
  margin-top:10%;
 }
.my_xxs_position1{
  position:absolute;
  transform: translateY(-50%);
  left:10%;
  width:50%;
  margin-top:10%;
}
}
.margin-r{
  matgin-right:2%;
}
@media (min-width: 768px) {
  .my_position {
    position: absolute;
    top: 20%;
    left: 50%;
    padding-right: 5%;
    padding-left: 5%;
  }
  .display_my_none1{
    display:none;
  }
}

@media (max-width: 767px){
.my_xxs_p{
  padding:10% 5%;
}
  .position_1{
    float:right;
    position:absolute;
    position:absolute;
    bottom:10%
    left:80%;
  }
}
.my_p_right{
  padding-right:2%;
}
@media (max-width: 767px) {
  .my_xxs_none1{
    display:none;
  }
  .display_xxs{
    text-align:center;
  }
}

.my_padding{
  padding:2% 2%;
}
.my_pl_0{
  padding-left:0;
}
.my_pr_0{
  padding-right:0;
}
.my_p_all{
  padding:20px 10% 20px;
}
/*写鼠标悬停显示  查看详情和立即购买----还没写好*/
/*#mx2:hover #mx22{*/
  /*display:block;*/
  /*background-color:red;*/
/*}*/


/*.display_none{*/
  /*display:none;*/
/*}*/

