@media (max-width: 1200px) {
    .container {
        max-width: 100%;
    }
}
.breadcrumb{
    background-color:#fff;
}
.breadcrumb-item + .breadcrumb-item::before{
    content:">";
}
.my_border_1{
    border:1px solid #e2e3e5;
}
.my_border_black{
    border:1px solid #000;
}
.my_border{
    border:1px solid #000;
}
.my_border_2{
    border:2px solid #e2e3e5;
}
.my_sm_div{
    width:18px;
    height:18px;
    border:1px solid #000;
    display:inline-block;
    position:relative;
}
.my_sm_div1{
    width:12px;
    height:12px;
    background-color:#000;
    display:inline-block;
    position:absolute;
    top:2px;left:2px;
}
.my_white{
    background-color:#fff;
}
.my_height_18{
    display:inline-block;
    height:20px;
}
.my_py_none{
    padding-left:0;
    padding-right:0;
}
.my_display{
    display:inline-block;
}

.my_border_x{
    border-right:1px solid #e2e3e5;
    border-left:1px solid #e2e3e5;
}

.my_height{
    height:45px;
    line-height:45px;
}
.my_p_r{
    padding-right:10px;
}
.my_input_size{
    width:30px;
    border:0;
    padding:0 26%;
}
.my_bg_1{
    background-color:#e9ecef;
}
.my_bg-black{
    background-color:#000;
}
.my_bg-black1{
    background-color:#32383e;
}
.my_width1{
     width:35%;
 }
.my_width2{
    width:38%;
}
.my_width3{
    width:65%;
}
.my_width4_100{
    width:25%;
}
.my_m_r{
    margin-right:2%;
}
.my_p_x{
    padding-left:14%;
    padding-right:14%;
}
.my_p_y{
    padding-top:3%;
    padding-bottom:5%;
}
@media (max-width: 590px) {
    .my_xxs_50{
        width:50%;
    }
}
@media (max-width: 767px) {
    .my_xxs_none{
        display:none;
    }
    .my_xxs_33{
        width:33%;
    }
    .my_xxs_40{
        width:40%;
    }
    .my_xxs_inline{
        display:inline;
    }
    .my_xxs_block{
        display:block;
    }
    .my_xxs_position{
        position:absolute;
        top:3px;left:80%;
    }
    .my_xxs_display{
        wihth:100%£»
    }
    .my_xxs_size{
          font-size:12px;
      }
    .my_position1{
        position:absolute;
        top:50%;
        left:-3%;
    }
    .my_xxs_size1{
        margin-left:6%;
    }
    .my_xxs_size_img{
        width:35%;
    }
    .my_xxs_b0{
        border:0;
    }
    .my_position_font{
        position:absolute;
        top:25%;
        left:40%;
    }
    .my_px{
        width:27%;
        font-size:12px;
    }
    .my_font{
        font-size:22px;
    }
}
@media (min-width: 767px) {
    .my_big_none{
        display:none !important ;
    }
    .my_big_block{
        display:block;
    }
 .my_big_position {
     position:absolute;
     top:3px;right:5%;
 }

}
.my_w{
    width:90%;
}
.my_m_b{
    margin-bottom:10px;
}
.my-my{
    margin:30px 0;
}
.my-m{
    padding:30% 6% 50%;
}
@media (max-width: 1000px) {
    .my_none{
        display:none;
    }
}

.my_mt_80{
    margin-top:80px;
}
.py-60{
    padding-top:60px;
    padding-bottom:60px;
}
.my_m{
    margin:0 15% 60px;
}

.my_ml{
    margin-left:30%;
}
@media (max-width: 1200px) {
    .my_m{
        margin:0 1% 60px;
    }
}
@media (max-width: 1050px) {
    .my_m{
        margin:0;
    }
    .my_p1{
        font-size:12px;
        padding:10px;
    }
    .my_p2{
        padding:10px;
        font-size:14px;
    }
    .my_px{
        padding-left:20px;
        padding-right:20px;
    }
}
@media (max-width: 1400px) {
    .my_m{
        margin:0 3% 60px;
    }
}
@media (min-width: 1050px) {
   .my_br{
      display:none
   }
    .my_left_font{
        text-align:left;
    }
    .my_p{
        padding:50px 60px 40px;
    }
.my_px_y{
     padding:20px 60px 20px;
     font-size:12px;
 }
    .my_px{
        padding-left:48px;
        padding-right:48px;
    }
}
.gwd:hover{
    background-color:white;
    border:1px solid #000;
}

.gwd:hover span>a{
    color:#000;
}
.gwd:hover span{
    color:#000;
}
.plun:hover{
    background-color:#000;
    border:1px solid #000;
    text-decoration: none;
}
.plun:hover span>a{
    color:#fff;
}
.xin .iconfont{
    font-family: "iconfont" !important;
    font-size: 35px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.aaa:hover{
    text-decoration: none;
    color: #000;
}
.nosed{
    border:2px solid #e2e3e5;
}
.sed{
    border:2px solid #000;
}